out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
jre
lombok
bin/
.settings
.classpath
.project
test/resources/projects/**/.vscode
test/resources/projects/maven/salut/testGradle
test-temp
config.properties
.vscode/settings.json
build/
.idea/
*.iml
*.ipr
*.iws
.gradle/
mvnw
mvnw.cmd
*.log
*.tmp
*.class
*.jar
*.war
*.ear
